.company-logo-name .company-logo {
    width: 50px;
    height: 38px;
}
.row-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.company-logo-name {
    color: rgb(15, 165, 224);
    font-weight: 600;
    font-size: 26px;
    font-family: "Microsoft Sans Serif";
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 60px;
}

header {
    width: 100%;
    height: 80px;
}

.time {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.fa-clock {
    font-size: 30px;
    color: #ddbd65;
}

.email {
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 16px;
}

.fa-envelope {
    font-size: 30px;
    color: #ddbd65;
}

.time-email {
    display: flex;
    align-items: center;
    
    justify-content: center;
}

.email-detail {
    margin-left: 10px;
}

.info-detail {
    margin-left: 10px;
    line-height: 3px;
    color: rgb(95, 94, 94) !important;
}

.info-detail p:last-child {
    color: rgb(0, 0, 0)!important;
    font-weight: 600;
}