<header >
    <div class="row row-header">
    <div class="company-logo-name col-6">
        <img class="company-logo" src="assets/image/CA-logo.jpg" alt="CA"> Company Name
    </div>
    <div class="col-6 time-email">
        <div class="time">
            <div>
                <i class="fa-regular fa-clock"></i>
            </div>
            <div class="info-detail time-detail">
                <p>Contact-Time</p>
                <p>Mon-Sat:09.00 - 07.00 </p>
            </div>
        </div>
        <div class="email ">
            <div>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="email-detail info-detail">
                <p>Contact-Email</p>
                <p>info@saginfotech.com</p>
            </div>
        </div>
    </div>
</div>
</header>