<div class="project-section">
    <ul class="project">
        <li>
            <a class="project-text" href="#">Project</a>
        </li>
        <li>
            <i class="fa-solid fa-arrow-right"></i>
        </li>
        <li>
            <a class="new-project" href="#">New Project</a>
        </li>
    </ul>
</div>
<div>
    <div class="side-arrow-parent">
        <a class="arrow-text">
            <i class="fa fa-angle-left side-arrow" aria-hidden="true"></i><span>New Project</span></a>
    </div>
</div>

<div class="card card-all">
    <div class="card-body  main-title">
        <a class="collapsed card-heading" data-bs-toggle="collapse" href="#detail-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h5 class="collapse-items">Details</h5>
            <i class="fa fa-chevron-down rotate-icon" aria-hidden="true"></i>
            <!-- <span class="accicon"><i class="fas fa-angle-down rotate-icon "></i></span> -->
        </a>
        <div class="collapse" id="detail-collapse">
            <div class="divider"></div>
            <div class="row row-detail">
                <div class="col-3 cl-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 cl-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Branch" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 cl-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Category" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 cl-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Project Name*" aria-label=".form-control-sm example">
                </div>
            </div>
            <div class="row row-detail">
                <div class="col-3 cl-3">
                    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 cl-3 column-project-lead">
                    <form>
                        <select class="form-control form-control-sm" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                            <option value="GSTIG">GSTIN</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </form>
                    <i class="fa-solid fa-caret-down carret-project-lead"></i>
                </div>
            </div>
            <div class="row row-detail">
                <div class="col-3 ">
                    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 ">
                    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 ">
                    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 ">
                    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">
                </div>
            </div>
            <div class=" row row-detail">
                <a href="#">+ Another Person</a>
            </div>
            <div class="row row-detail ">

                <a href="#">+ Block /Wing Information</a>
            </div>
            <div class="row row-detail ">
                <a href="#">+ Payment Plan (S)</a>
            </div>
        </div>
    </div>
</div>
<div class="card card-all">
    <div class="card-body main-title">
        <a class="collapsed card-heading" data-bs-toggle="collapse" href="#attach-doc-collapse" role="button" aria-expanded="false" aria-controls="attach-doc-collapse">
            <h5 class="collapse-items">Schedule</h5>
            <i class="fa fa-chevron-down rotate-icon" aria-hidden="true"></i>
        </a>
        <div class="collapse" id="attach-doc-collapse">
            <div class="divider"></div>
            <div class="row row-detail">
                <div class="col-3 cl-3 padding-zero">
                    <input class="form-control form-control-sm form-control-cal" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                    <i class="fa-solid fa-calendar-days cal-day1"></i>
                </div>
                <div class="col-3 cl-3 column-project-duration">
                    <form>
                        <select class="form-control form-control-sm" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                            <option value="volvo">GSTIN</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </form>
                    <i class="fa-solid fa-caret-down carret-duration"></i>
                </div>
                <div class="col-3 cl-3 column-leave padding-zero">
                    <form>
                        <select class="form-control form-control-sm" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                            <option value="volvo">GST</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </form>
                    <i class="fa-solid fa-caret-down carret-leave"></i>
                </div>
                <div class="col-3 cl-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Project Name*" aria-label=".form-control-sm example">
                    <i class="fa-solid fa-calendar-days cal-day2"></i>
                </div>
            </div>
            <div class="row row-user-info row-detail">
                <div class="col-3 ">
                    <div class="user-detail-info">
                        <div class="user-related">
                            <a class="collapsed" data-bs-toggle="collapse" href="#desc-collapse" role="button" aria-expanded="false" aria-controls="desc-collapse">
                                <h5 class="inner-header">Description</h5>
                            </a>
                            <div class="collapse project-cost " id="desc-collapse">
                                <textarea rows="4" cols="42" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-3">
                    <div class="attach-doc">
                        <a class="collapsed" data-bs-toggle="collapse" href="#upload-doc-collapse" role="button" aria-expanded="false" aria-controls="upload-doc-collapse">
                            <h5 class="inner-header">Attach Document</h5>
                        </a>
                        <div class="collapse" id="upload-doc-collapse">
                            <div class="card card-user-realted">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <input  id="formFileSm" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>s
                </div> -->
                <div class="col-3">
                    <div class="attach-doc">
                        <a class="collapsed" data-bs-toggle="collapse" href="#upload-doc-collapse" role="button" aria-expanded="false" aria-controls="upload-doc-collapse">
                            <h5 class="inner-header">Attach Document</h5>
                        </a>
                        <div class="collapse" id="upload-doc-collapse">
                            <div class="card-user-realted">

                                <div class="card card-file project-cost ">
                                    <div class="card-body">
                                        <input type="file" id="upload-doc" hidden>
                                        <label for="upload-doc" class="upload-doc">
                                                <i class="fa-solid fa-folder-plus "></i>
                                                <span>Upload Document</span> 
                                            </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 task-cost project-set row-detail">
                    <input class="form-control form-control-sm form-control-cal" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                    <i class="fa-solid fa-calendar-days cal-day1"></i>
                </div>
                <div class="col-3 task-cost project-set row-detail">
                    <div class="form-check row-detail">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Calculate from Task Cost
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-all">
    <div class="card-body main-title">
        <a class="collapsed card-heading" data-bs-toggle="collapse" href="#costing-collapse" role="button" aria-expanded="false" aria-controls="costing-collapse">
            <h5 class="collapse-items">Costing</h5>
            <i class="fa fa-chevron-down rotate-icon" aria-hidden="true"></i>
        </a>
        <div class="collapse" id="costing-collapse">
            <div class="divider"></div>
            <div class=" row row-detail">
                <a href="#">+ Common Cost</a>
            </div>
            <div class="row row-detail">
                <div class="col-3">
                    <input class="form-control form-control-sm form-control-cal" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 ">
                    <input class="form-control form-control-sm form-control-cal" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">

                </div>
                <div class="col-3 ">
                    <input class="form-control form-control-sm form-control-cal" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                </div>
                <div class="col-3 ">
                    <input class="form-control form-control-sm" type="text" placeholder="Project Name*" aria-label=".form-control-sm example">
                </div>
            </div>
            <div class="row row-detail">
                <div class="col-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Company GSTIN*" aria-label=".form-control-sm example">
                </div>
                <div class="col-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Branch" aria-label=".form-control-sm example">
                </div>
            </div>
            <div class="row row-user-info row-detail">
                <div class="col-3 ">
                    <div class="user-detail-info user-related">
                        <a class="collapsed" data-bs-toggle="collapse" href="#cost-collapse" role="button" aria-expanded="false" aria-controls="cost-collapse">
                            <h5 class="inner-header">Actual Cost & Profit</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="collapse" id="cost-collapse">
                <div class="row actual-project-row row-detail">
                    <div class="col-3">
                        <input class="form-control form-control-sm" type="text" placeholder="Branch" aria-label=".form-control-sm example">
                    </div>
                    <div class="col-3">
                        <input class="form-control form-control-sm" type="text" placeholder="Branch" aria-label=".form-control-sm example">
                    </div>
                    <div class="col-3">
                        <input class="form-control form-control-sm" type="text" placeholder="Branch" aria-label=".form-control-sm example">
                    </div>
                </div>
            </div>


            <div class="button-section">
                <button type="button" class="btn btn-outline-secondary">Cancel</button>
                <button type="button" class="btn btn-primary button-save">Save as Draft 
                    </button>
                <button type="button" class="btn btn-primary button-carret">
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
            </div>
        </div>
    </div>
</div>