.landing-page {
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    height: 500px;
    position: relative;
}

.landing-page img {
    height: 500px;
    width: 100%;
}

.landing-page h1 {
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
}

.content {
    display: flex;
    width: 80%;
    margin: auto;
}