<header class="row">
    <div class="company-logo-name col-6">
        <img class="company-logo" src="assets/image/CA-logo.jpg" alt="CA">
        Company Name
    </div>
    <div class="col-6 time-email">
    <div class="time">
        <div>
        <i class="fa-regular fa-clock"></i>
        </div>
        <div class="info-detail time-detail">
            <p>Contact-Time</p>
            <p>Mon-Sat:09.00 - 07.00 </p>
        </div>
    </div>
    <div class="email ">
        <div>
            <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="email-detail info-detail">
            <p>Contact-Email</p>
            <p>info@saginfotech.com</p>
        </div>
    </div>
</div>
</header>
<nav>
    <ul class="nav-list">
        <li> <a href=""  routerLink="home"  >Home</a> </li>
        <li><a href=""  routerLink="about-us"  > About Us </a></li>
        <li><a href="">Services</a></li>
        <li><a href="">GST</a></li>
        <li><a href="">Knowledge Base</a></li>
        <li><a href="">Important Links</a></li>
        <li><a href="">Calculator</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Career</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
</nav>
<div class="landing-page">
   hi...
</div>